In [1]:
spark

Starting Spark application

SparkSession available as 'spark'.
res1: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@122f19d0

In [ ]:
print(sc)

In [5]:
import org.apache.spark.sql.SQLContext

val sqlContext = new SQLContext(sc)
sqlContext.sql("Show databases").show()

+--------------------+
|        databaseName|
+--------------------+
|sample_data...|
|             default|
|     tpcds_text_1000|
+--------------------+

In [22]:
case class Person(name: String, age: Int, personid: Int)

case class Profile(name: String, personid: Int , profileDescription: String)

val df1 = sqlContext.createDataFrame(
    Person("Bindu",20,  2) 
    :: Person("Raphel",25, 5) 
    :: Person("",5, 6) 
    :: Person("Raphel",25, 5) 
    :: Person("Ram",40, 9):: Nil)

df1.show()

+------+---+--------+
|  name|age|personid|
+------+---+--------+
| Bindu| 20|       2|
|Raphel| 25|       5|
|      |  5|       6|
|Raphel| 25|       5|
|   Ram| 40|       9|
+------+---+--------+

In [24]:
df1.distinct().count()

res32: Long = 4

In [25]:
df1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = false)
 |-- personid: integer (nullable = false)

In [26]:
df1.select("name").show()

+------+
|  name|
+------+
| Bindu|
|Raphel|
|      |
|Raphel|
|   Ram|
+------+

In [27]:
df1.filter($"name" === "").show()

+----+---+--------+
|name|age|personid|
+----+---+--------+
|    |  5|       6|
+----+---+--------+

In [28]:
df1.filter($"name" === null).show()

+----+---+--------+
|name|age|personid|
+----+---+--------+
+----+---+--------+

In [29]:
df1.filter($"name" <=> "").show()

+----+---+--------+
|name|age|personid|
+----+---+--------+
|    |  5|       6|
+----+---+--------+

In [30]:
val df2 = sqlContext.createDataFrame(
    Profile("Ram",9,  "SparkSQLMaster") 
    :: Profile("Bindu",2, "SparkGuru") 
    :: Profile("Spark",5, "DevHunter"):: Nil
)

df2.show()

+-----+--------+------------------+
| name|personid|profileDescription|
+-----+--------+------------------+
|  Ram|       9|    SparkSQLMaster|
|Bindu|       2|         SparkGuru|
|Spark|       5|         DevHunter|
+-----+--------+------------------+

In [31]:
val resultDf = df1.join(df2,Seq("name","personId"), "inner")

resultDf: org.apache.spark.sql.DataFrame = [name: string, personid: int ... 2 more fields]

In [32]:
resultDf.show()

+-----+--------+---+------------------+
| name|personid|age|profileDescription|
+-----+--------+---+------------------+
|Bindu|       2| 20|         SparkGuru|
|  Ram|       9| 40|    SparkSQLMaster|
+-----+--------+---+------------------+